{% extends "_layout.html" %}

{%- block title -%}
Journal
{%- endblock -%}

{%- block content -%}
<h1>Journal</h1>
<form hx-post="/htm/journal/entries"
      hx-swap="none"
      hx-on::after-request="if(event.detail.successful) this.reset()"
      hx-on::response-error="alert('Error')">
    <input name="value" type="text" required>
    <button type="submit">Add</button>
</form>
<div hx-get="/htm/journal/entries"
     hx-trigger="load, load-journal-entries from:body"
     hx-swap="innerHTML">
    <div class="loading">Loading data...</div>
</div>
{%- endblock -%}

